body
{
    background-color: rgb(0, 0, 150);
    height: 100%;
     margin: 0;
  padding: 0;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;

}

ul {
  font-size: 20px;
  width: 1590px;
  height: 60px;
  border:  white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: #3031FC;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  color: white;
  padding: 0 58px;
  text-decoration: none;
  line-height: 60px;
  z-index: 1;
  position: relative;
}

#hi{
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 185px;
    background-color: rgb(190, 190, 28);
    box-shadow: inset;
  z-index: 1;
  border-radius: 10px;
  transition: 0.5s;
  z-index: 0;
}

/* Hover animation positions */
nav a:nth-child(1):hover ~ #hi { left: 0px; }
nav a:nth-child(2):hover ~ #hi { left: 180px; }
nav a:nth-child(3):hover ~ #hi { left: 380px; }
nav a:nth-child(4):hover ~ #hi { left: 570px; }
nav a:nth-child(5):hover ~ #hi { left: 750px; }
nav a:nth-child(6):hover ~ #hi { left: 970px; }
nav a:nth-child(7):hover ~ #hi { left: 1190px; }
nav a:nth-child(8):hover ~ #hi { left: 1400px; }

#ko
{
    
    align-items: start;
    color: red;
     font-size: 30px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    background-color: black;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    width: auto;
    position: relative;

}
#efootball {
  display: block;
  margin: 0 auto; 
}

#upt
{
height: 400px;
width: 100%;
background-color: #fff500;
position: relative;
right: 0px;
left: 0px;

}
#pht
{
    height: 380px;
    display: block;
    margin: 0 auto;
}
#info
{
    height: 400px;
width: 100%;


}
#if
{
    display: block;
    margin: 0 auto;
}

#news-table
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  
}

#tab
{
 border-left: 0 none rgb(0, 0, 150);
border-right: 0 none rgb(0, 0, 150);
overflow: auto;

  position: relative;
  width: 70rem;
  height:100px;
  font-size: 35px;
}
.tag
{
  border-radius: 30px;
  display: flex;
  border-color: white ;
  border: 1px solid ;
  height: 40px;
  justify-content: center ;
  align-items: center;
  
  
  
}
td
{
  text-align: center;
  font-size: 35px;
   color: aliceblue;
  font-size: 15px;
  font-weight: 10px;

}

#bac
{
margin: 0 auto;
display: block;
  border: 1px solid white;
  border-radius: 20px;
  height: 45px;
  width: 130px;
  position: relative;
}
#more
{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
font-size: 25px;
color: #fff500;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}
#min
{
  display: block;
  margin: 0 auto; 
  padding: 0;
  width: 100%;

}
#ani
{
  display: block;
  margin: 0px auto;
}
#bac1
{
  position: relative;
  height: 45px;
  width: 265px;
  border: 1px white solid;
  border-radius: 20px;
  display: block;
  margin: 0px auto;

}

#cola
{
  display: block;
  margin: 0px auto;
}
#soc
{
  display: block;
  margin: 0px auto;
}
#fin
{
  position: relative;
}
#wor
{
  position: relative;
  top: 50%;
  left: 44%;
  color: white;
  font-weight: bolder;
}
#btn
{
  height: 50px;
  width: 50px;
  border: 1px solid ;
  color: white;
  position: absolute;
  right: 0%;
 
}
#po
{
  position: absolute;
  top: 30%;
  left: 40%;
}

