body
{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    align-items: center;
    justify-items: center;
}
#cont
{
    height: 600px;
    width: 55%;
    border: 1px solid none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid none;
    border-radius: 20px;
}
#one
{
height: 600px;
border: 1px solid none;

background-color: rgb(247, 170, 27);
border-radius: 20px 0 0 20px;
}
#two
{
height: 600px;
border: 1px solid none;
background-color: rgb(40, 107, 110);
}
#three
{
height: 600px;
border: 1px solid none;
background-color: rgb(6, 67, 47);
border-radius: 0 20px 20px 0;
}

#incont
{
    margin: 50px;
    
}
#car
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
}
#para
{
    margin-top: 50px;
    color: white;
    font-size: 25px;
   
    text-align: justify;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

#btn
{
    margin-top: 44%;
    border:  none;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    color:  rgb(247, 170, 27);
    font-size: 19px;
    /* display: block;
    margin: 0 auto; */
    
}

/* //for box2 */


#incont1
{
    margin: 50px;
    
}
#car1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
}
#para1
{
    margin-top: 50px;
    color: white;
    font-size: 23px;
    text-align: justify;
    font-weight: lighter;
    /* font-size-adjust: 30px; */
   
    font-family: 'Times New Roman', Times, serif;
}


#incont2
{
    margin: 50px;
    
}
#car2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
}
#para2
{
    margin-top: 50px;
    color: white;
    font-size: 23px;
    text-align: justify;
    font-weight: lighter;
    /* font-size-adjust: 30px; */
   
    font-family: 'Times New Roman', Times, serif;
}

#btn1
{
    margin-top: 48%;
    border:  none;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    color:  rgb(6, 67, 47);
    font-size: 19px;
   
    
}
#btn2
{
    margin-top: 48%;
    border:  none;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    color: rgb(6, 67, 47);
    font-size: 19px;
    
    
}
